@import 'setup/variables';

.linked-account {
	text-align: center;
	&.v-center {
		&.pane-padded {
			padding-bottom: $btn-medium-height + 15px;
		}
	}
	.icon {
		display: block;
		margin: -5px auto 2px;
		svg {
			height: 14px;
			* {
				fill: $primary-color;
			}
		}
	}
	p {
		font-size: 16px;
		line-height: 1em;
	}
}