@import 'setup/variables';

$pane-bg : #fff;
$base-border-radius : 10px;
$pane-line-color: $light-grey;

.ds-pane {
	font-family: $main-font;
	display: inline-block;
	vertical-align: top;
	min-width: 40px;
	max-width: 350px;
	min-height: 40px;
	background: $pane-bg;
	box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
	border-radius: $base-border-radius;
	position: relative;
	overflow: hidden;
	width: 272px;
	min-height: 250px;
	text-align: left;

	.ds-pane-header {
		position: relative;
		border-bottom: 1px solid $pane-line-color;
		height: 50px;
		.pane-title {
			display: block;
			position: absolute;
			left: 45px;
			right: 45px;
			text-align: center;
			font-size: 14px;
			font-weight: 500;
			line-height: 51px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			letter-spacing: .02em;
		}
		.icon {
			stroke-color: red;
			position: absolute;
			padding: 19px 15px 19px;
			left: 0;
			height: 51px;
			cursor: pointer;
			opacity: .3;
			transition: opacity $med-speed ease-in-out;
			&.right {
				left: auto;
				right: 0;
			}
			&:hover {
				opacity: 1;
			}
			svg {
				height: 12px;
				max-width: 30px;
				vertical-align: top;
			}
		}
	} // end .ds-pane-header
	
	.ds-pane-tabs {
		height: 35px;
		background: $light-grey;
		text-align: left;
		.tab {
			display: inline-block;
			line-height: 34px;
			width: 33.333%;
			margin-right: -4px;
			text-align: center;
			border-bottom: 1px solid $pane-line-color;
			color: $light-text-color;
			font-size: 14px;
			cursor: pointer;
			transition: color $med-speed ease-in-out, background $med-speed ease-in-out, border $med-speed ease-in-out;
			&:hover {
				color: $text-color;
			}
			&.active {
				background: $pane-bg;
				color: $text-color;
				border-bottom-color: $primary-color;
			}
		}
	} // end .ds-pane-tabs
	
	.ds-pane-content {
		display: block;
		min-height: 40px;
		overflow-x: hidden;
		overflow-y: auto;
		.has-button {
			padding-bottom: $btn-height;
			.button {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: 0;
			}
		}

		.new-content-grid {
			overflow: hidden;
			border-radius: 0 0 $base-border-radius $base-border-radius;
			.content-item {
				width: 90px;
				height: 66px;
				border-right: 1px solid $pane-line-color;
				border-bottom: 1px solid $pane-line-color;
				float: left;
				transition: background $med-speed ease-in-out;
				cursor: pointer;
				box-sizing: content-box;
				> * {
					opacity: .45;
				}
				&:nth-last-child(-n+3) {
					border-bottom: none;
				}
				&:nth-child(3n+3) {
					border-right: none;
					margin-right: 0;
				}
				&:hover {
					background-color: $light-grey;
					* {
						opacity: 1;
					}
				}
				&:active {
					background-color: darken($light-grey, 5%);
				}
				.icon {
					display: block;
					text-align: center;
					margin: 17px auto 7px;
					transition: opacity $med-speed ease-in-out;
					svg {
						max-width: 28px;
						height: 14px;
						vertical-align: top;
					}
				}
				.label {
					display: block;
					text-align: center;
					font-size: 12px;
					line-height: 1em;
					letter-spacing: .02em;
					transition: opacity $med-speed ease-in-out;
				}
			}
		} // end .new-content-grid
		
	} // end .ds-pane-content

} // end .ds-pane

// Next Transition
.pane-next-transition-enter {
  opacity: 0.01;
  position: absolute;
  left: 0;
  right: 0;
  transition: transform .5s $ease, opacity .5s $ease;
  transform: translateX(100%);
}

.pane-next-transition-enter.pane-next-transition-enter-active {
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateX(0);
}

.pane-next-transition-leave {
	opacity: 1;
	transition: transform .5s $ease, opacity .5s $ease;
}

.pane-next-transition-leave.pane-next-transition-leave-active {
	opacity: 1;
	transform: translateX(-175%);
}

// Prev Transition
.pane-prev-transition-enter {
  opacity: 0.01;
  position: absolute;
  left: 0;
  right: 0;
  transition: transform .5s $ease, opacity .5s $ease;
  transform: translateX(-100%);
}

.pane-prev-transition-enter.pane-prev-transition-enter-active {
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateX(0);
}

.pane-prev-transition-leave {
	opacity: 1;
	transition: transform .5s $ease, opacity .5s $ease;
}

.pane-prev-transition-leave.pane-prev-transition-leave-active {
	opacity: 1;
	transform: translateX(175%);
}