@import 'setup/variables';
@import 'setup/mixins';

.settings-open {
	left: 400px;
}

.settings-panel {
	background: #000;
	color: $light-text-color;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 50px;
	width: 400px;
	.panel-title {
		display: block;
		color: $white;
		font-size: 12px;
		padding-top: 30px;
		line-height: 1em;
		font-weight: 400;
	}
	.settings-content {
		overflow-y: auto;
		overflow-x: hidden;
		position: absolute;
		top: 73px;
		bottom: 50px;
		left: 0;
		right: 0;
		transition: bottom $med-speed $ease;
		// to make the save button come in
		bottom: 0px;
	}
	.save-settings {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-top: 1px solid $text-color;
		transition: transform $med-speed $ease;
		// to make the button come in when its needed
		// transform: translateY(50px);
		.button {
			border-radius: 0;
		}
	}
	.settings-block {
		padding: 0 30px 30px;
		&.settings-header {
			border-bottom: 1px solid $text-color;
			.close-x {
				padding: 15px;
				position: absolute;
				top: 9px;
				right: 15px;
				cursor: pointer;
				svg {
					width: 12px;
					height: 12px;
					* {
						fill: darken($white, 50%);
					}
				}
				&:hover {
					svg * {
						fill: $white;
					}
				}
			}
		}
		.fancy-input-wrap {
			&:last-of-type {
		    margin-bottom: 0;
		  }
		}
		.settings-block-title {
			display: block;
			line-height: 1em;
			margin-bottom: 12px;
			color: $white;
			font-weight: 400;
		}
		.section-desc {
			font-size: 12px;
			line-height: 1.5em;
			letter-spacing: .03em;
			margin-bottom: 15px;
		}
		&.publish-status {
			position: relative;
			.settings-block-title {
				display: inline-block;
				vertical-align: middle;
				margin: 0 20px 0 0;
				display: none;
			}
			.switch-wrap {
				input[type=checkbox] + label {
					background: $text-color;
					padding: 25px 40px;
					display: block;
					margin-left: -40px;
					margin-right: -40px;
					transition: background-color $med-speed $ease;
					.text.on {
						color: $white;
					}
				}
				input[type=checkbox]:checked + label {
					background: $primary-color;
					padding: 25px 40px;
					display: block;
					margin-left: -40px;
					margin-right: -40px;
					.switch {
						background-color: $white;
						border-color: $white;
						&:after {
							background: $primary-color;
						}
					}
					.text.on {
						color: $white;
					}
				}
			}
		}
	}
	.button {
		max-width: none;
	}
}