@font-face {
	font-family: 'UI Font';
	src:  url('/fonts/dm-sans/DMSans-Regular.woff') format('woff'),
				url('/fonts/dm-sans/DMSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'UI Font';
	src:  url('/fonts/dm-sans/DMSans-Medium.woff') format('woff'),
				url('/fonts/dm-sans/DMSans-Medium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'UI Font';
	src:  url('/fonts/dm-sans/DMSans-Bold.woff') format('woff'),
				url('/fonts/dm-sans/DMSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'UI Font Mono';
	src:  url('/fonts/roboto-mono/RobotoMono-Medium.woff') format('woff'),
				url('/fonts/roboto-mono/RobotoMono-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* @font-face {
	font-family: 'UI Font';
	src:  url('/fonts/inter/Inter-Regular.woff') format('woff'),
				url('/fonts/inter/Inter-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'UI Font';
	src:  url('/fonts/Inter/Inter-Medium.woff') format('woff'),
				url('/fonts/Inter/Inter-Medium.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
} */