@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'UI Font';
}

html, input, button, select {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Colors */
  --black: #222;
  --white: #ffffff;
  --main-color: #0FC5A3;
  --main-color-darken: #08AF86;
  --alert: red;
  --notify: yellow;
  --success: green;
  --bg-color: var(--white);
    --bg-color-rgb: 255, 255, 255;
  --text-color: var(--black);
    --text-color-rgb: 51, 51, 51;
  --light-text-color: #818181;
  --light-grey: #eee;
  --hr-color: rgba(var(--text-color-rgb), .1);
  /* Spacing */
  --site-gutters: 16px;
  --site-margins: clamp(16px, 4vw, 100px);
  --vertical-spacing-small: clamp(30px, 3vw, 60px);
  --vertical-spacing: clamp(60px, 6vw, 120px);
  --vertical-spacing-large: clamp(90px, 9vw, 160px);
  /* Typography */
  --main-font: 'UI Font', sans-serif;
  --secondary-font: var(--main-font);
  --mono-font: 'UI Font Mono', monospace;
  --normal: normal;
  --light: 300;
  --medium: 600;
  --bold: 700;
  /* UI */
  --base-border-radius: 10px;
  --screen-height: 100vh; /* Adjust screen height for when there is announcement bar etc. */
  --button-height: 40px;
  --header-height: 60px;
  --sticky-top: calc(var(--site-gutters) + var(--header-height));
  /* Animations */
  --md-speed: .3s;
  --slow-speed: .5s;
  --fast-speed: .15s;
}